RestaurantReviewSystem-WebClient/RestaurantReviewSystem-WebClient/Connected Services/RestaurantReviewServiceReference/RestaurantReviewSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RestaurantReviewSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestaurantReviewSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRestaurantReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RestaurantReview" nillable="true" type="tns:RestaurantReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurantReview" nillable="true" type="tns:ArrayOfRestaurantReview" />
  <xs:complexType name="RestaurantReview">
    <xs:sequence>
      <xs:element minOccurs="0" name="RestaurantId" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cleanliness" type="xs:double" />
      <xs:element minOccurs="0" name="parkingfacility" type="xs:double" />
      <xs:element minOccurs="0" name="quality_of_food" type="xs:double" />
      <xs:element minOccurs="0" name="service" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestaurantReview" nillable="true" type="tns:RestaurantReview" />
</xs:schema>