RestaurantReviewSystem-WebClient/RestaurantReviewSystem-WebClient/Connected Services/RestaurantServiceReference/RestaurantReviewSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RestaurantReviewSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestaurantReviewSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Restaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNumber" type="xs:long" />
      <xs:element minOccurs="0" name="CusineCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestaurantId" type="xs:int" />
      <xs:element minOccurs="0" name="RestaurantName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurant" nillable="true" type="tns:Restaurant" />
</xs:schema>