RestaurantReviewSystem-WebClient/RestaurantReviewSystem-WebClient/Connected Services/RestaurantServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RestaurantReviewSystem" />
  <xs:element name="GetRestaurant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRestaurantResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RestaurantReviewSystem" minOccurs="0" name="GetRestaurantByIdResult" nillable="true" type="q1:Restaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RestaurantReviewSystem" minOccurs="0" name="restaurant" nillable="true" type="q2:Restaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRestaurantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRestaurantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RestaurantReviewSystem" minOccurs="0" name="restaurant" nillable="true" type="q3:Restaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRestaurantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>